#popup-content
	h3#popup-title= title
	#date-container
		span.attName Date: 
		span.attValue= date
	#location-container
		span.attName Location: 
		span.attValue= location
	#details-container
		#details-title.attName Event Details:
		#details-content.attrValue!= details